---
apiVersion: v1
kind: BuildConfig
metadata:
  name: "{{ service_name }}-{{ mariadb_version }}-{{ _apb_plan_id }}"
spec:
  output:
    to:
      kind: ImageStreamTag
      name: "{{ service_name }}-{{ mariadb_version_nodots }}-{{ _apb_plan_id }}:latest"
  source:
    contextDir: image-configuration
    git:
      uri: https://github.com/jcpowermac/mariadb-ha-poc
      ref: rhel
    type: Git
  strategy:
    sourceStrategy:
      from:
        kind: ImageStreamTag
        name: "{{ service_name }}-{{ mariadb_version_nodots }}-galera:latest"
    type: Source
  triggers:
  - imageChange: {}
    type: ImageChange
