---
apiVersion: v1
kind: Service
metadata:
  annotations:
    service.alpha.kubernetes.io/tolerate-unready-endpoints: "true"
  name: "{{ service_name }}"
  labels:
    app: "{{ service_name }}-apb"
spec:
  ports:
  - port: 3306
    name: "{{ service_name }}"
  clusterIP: None
  selector:
    app: "{{ service_name }}-apb"
    service: "{{ service_name }}-{{ mariadb_version }}-{{ _apb_plan_id }}"

